{% extends user is null ? 'before.html.twig' : 'after.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/all.css') }}">
    <link rel="stylesheet" href="{{ asset('build/all-categories.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
    {% for categ in categories %}
        <a class="lessons-container" href="{{path('app_lessons_list' , {'id' : categ.id })}}">
            <div class="image-container">
                <img src="{{ asset(categ.image) }}" alt="">
            </div> 
            <div class="lesson-title">
                <p>{{ categ.categorie }}</p>
            </div>
        </a>  
    {% endfor %}
    </div>
{% endblock %}
